.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.38889vw;
    margin-top: 12.369%;
    margin-left: 7.028%;
    margin-right: 7.028%;
}

img {
    width: 100%;
    height: 38.6806vw;
    object-fit: cover;
}

.white {
    background-color: var(--white);
}

.lg-container {
    width: 27.778vw;
    height: 38.6806vw;
}

.sm-container {
    width: 27.78vw;
    height: 7.223vw;
    
    display: flex;
    align-items: center;
    text-align: center;
}

.sm-font {
    font-size: var(--sm-font);
}

.link {
    position: relative;
    left: calc(3 / 1440 * 100vw);
}

a:link {
    color: var(--black);
    text-decoration: none;
}

a:visited {
    color: var(--black);
}

.head-titles {
    font-size: calc(24 / 1440 * 100vw);
    margin-top: 2.01389vw;
    margin-bottom: 2.01389vw;
    text-align: center;
    width: 100%;
    height: 2.9862vw;
}

.paragraph {
    position: relative;
    top: 0.833333vw;
    left: var(--sm-font);
    
    margin: 0px;
    width: 25.695vw;
    height: 36.806vw;
}

ul {
    position: relative;
    margin: 0;
    padding-left: 2.7778vw;
    top: var(--sm-font);
    font-size: var(--sm-font);
}

li::marker {
    font-size: var(--sm-font);
} 

p {
    white-space: pre-wrap;
}

.hidden {
    overflow: hidden;
}

.text {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    white-space: normal;
    -webkit-line-clamp: 2;
}

@media (max-width: 744px) {
    .grid-container {
        grid-template-columns: repeat(2, calc(294 / 744 * 100vw));
        column-gap: calc(20 / 744 * 100vw);
        row-gap: 0;
        margin-top: calc(80 / 744 * 100vw);
    }

    .grid-container:first-child {
        margin-top: calc(120 / 744 * 100vw);
    }

    .column:last-child {
        grid-column: span 2;
    }

    .lg-container {
        width: 100%;
        height: calc(417 / 744 * 100vw);
    }

    img {
        height: calc(417 / 744 * 100vw);
    }

    .paragraph {
        position: relative;
        top: calc(11 / 744 * 100vw);
        left: calc(13 / 744 * 100vw);
        
        margin: 0px;
        width: calc(100% - calc(31 / 744 * 100vw));

        font-size: calc(16 / 744 * 100vw);
    }

    .sm-container {
        width: 100%;
        height: calc(40 / 744 * 100vw);
    }

    .link {
        width: 100%;
        font-size: calc(10 / 744 * 100vw);
    }

    .head-titles {
        font-size: calc(24 / 744 * 100vw);
        height: calc(89 / 744 * 100vw);
        
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0;
    }

    .source .tutorial {
        height: calc(80 / 744 * 100vw);
    }

    .source .head-titles {
        height: calc(40 / 744 * 100vw);
        font-size: calc(18 / 744 * 100vw);
    }

    .tutorial .head-titles {
        height: calc(40 / 744 * 100vw);
        font-size: calc(18 / 744 * 100vw);
    }

    ul {
        width: calc(100% - 2.7778vw - calc(18 / 744 * 100vw));
        margin: 0 auto;
    }

    li {
        font-size: calc(16 / 744 * 100vw);
    }
}

@media (max-width: 428px) {
    .grid-container {
        display: flex;
        flex-direction: column;
        align-content: center;
        justify-content: center;
        
        width: calc(328 / 428 * 100vw);
        margin-inline: auto;
    }

    .grid-container:first-child {
        margin-top: calc(120 / 744 * 100vw);
    }

    .column:first-child > div:first-child {
        height: calc(531 / 428 * 100vw);
    }

    .lg-container {
        width: 100%;
        height: calc(440 / 428 * 100vw);
    }

    img {
        height: calc(445 / 428 * 100vw);
    }

    .paragraph {
        position: relative;
        top: calc(13 / 428 * 100vw);
        left: calc(11 / 428 * 100vw);
        
        margin: 0px;
        width: calc(100% - calc(33 / 744 * 100vw));

        font-size: calc(15 / 428 * 100vw);
    }

    .sm-container {
        width: 100%;
        height: calc(86 / 428 * 100vw);
    }

    .link {
        width: 100%;
        font-size: calc(15 / 428 * 100vw);
    }

    .head-titles {
        font-size: calc(24 / 428 * 100vw);
        height: calc(86 / 428 * 100vw);
        
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0;
    }

    ul {
        width: calc(268 / 428 * 100vw);
        top: 0;
        margin-top: calc(13 / 428 * 100vw);
        padding: 0;
    }

    li {
        font-size: calc(15 / 428 * 100vw);
    }
    
    li::marker {
        font-size: calc(11 / 428 * 100vw);
    } 

    .source .tutorial {
        height: calc(86 / 428 * 100vw);
    }

    .source .head-titles {
        height: calc(86 / 428 * 100vw);
        font-size: calc(24 / 428 * 100vw);
    }

    .tutorial .head-titles {
        height: calc(86 / 428 * 100vw);
        font-size: calc(24 / 428 * 100vw);
    }
}
