.recipe {
    display: block;

    width: 100%;

    animation: none;

    color: var(--black) !important;

    font-family: var(--Inter);
    font-size: var(--sm-font);
    
    margin-left: calc(24 / 1440 * 100vw);
    margin-top: calc(13 / 1440 * 100vw);
}

#drop-down-menu {
    position: absolute;
    top: calc(383 / 1440 * 100vw);
    left: calc(246 / 1440 * 100vw);

    width: calc(661 / 1440 * 100vw);
    height: calc(310 / 1440 * 100vw);
    background-color: var(--white);

    border-radius: var(--radius);
    border: 1px solid var(--black);

    box-shadow: var(--shadow);

    animation: none;

    overflow: scroll;
}

.visible {
    display: block !important;
}

#drop-down-menu::-webkit-scrollbar {
    display: none;
}

@media (max-width: 428px) {
    .recipe {
        display: block;
    
        width: 100%;
    
        color: var(--black) !important;
    
        font-family: var(--Inter);
        font-size: calc(12 / 428 * 100vw);
    }
    
    #drop-down-menu {
        position: absolute;
        top: calc(111 / 428 * 100vw);
        left: calc(50 / 428 * 100vw);
    
        width: calc(227 / 428 * 100vw);
        height: calc(115 / 428 * 100vw);
        background-color: var(--white);
    
        border-radius: calc(10 / 1440 * 100vw);
        border: 1px solid var(--black);
    
        box-shadow: var(--shadow);
    
        overflow: scroll;
    }
}