.areas {
    position: relative;
    top: 523px;

    font-size: 40px;
    font-family: var(--Inter);
}


.scroll {
    overflow: scroll;
    overflow-y: overlay;
    overflow-x: overlay;
}

.scroll::-webkit-scrollbar {
    overflow: hidden;
}

.back_arrow {
    position: absolute;
    top: 15.75px;
    left: 20.25px;
    width: 27px;
    height: 22.5px;
}