.new-grid {
    display: grid;
    
    row-gap: 62px;

    grid-template-columns: 276px 964px; 
}

.return_arrow {
    width: 57px;
    height: 47.5px;

    margin-top: 40.25px;
    margin-left: 85.75px;

}

.xlg-container {
    position: relative;

    margin-top: 99.75px;
    margin-left: 100px;

    width: 1240px;
    height: 1429px;

    border-radius: 64px;

    background-color: var(--magnolia);
}

.lg-background {
    background-color: var(--pink);
    width: 1440px;
    height: 1672px;
}

.sm-img {
    width: 152px;
    height: 209px;

}

.name {
    top: 21px;
    left: 78px; 

    font-size: 20px;
    font-family: var(--Inter);
}

.name-container {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 152px;
    height: 53px;


    margin-right: 0px;

    text-align: center;
}

.directions {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 169px;
    height: 93px;

    margin-right: 0px;
}

.directions > div {
    text-align: center;
    font-size: 30px;
}

.inline-block {
    display: inline-block;
}

.instructions {
    top: 0px;
    left: 0px;
    font-size: 20px;
}

.align-center {
    display: flex;
    align-content: center;
}

.name-image-container {
    position: relative;
    left: 54px;
    top: 46px;
}

.directions-container  {
    width: 924px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.instructions-container {
    width: 924px;
    height: 1332px;
}