.filter_box {
    position: absolute;
    top: calc(383 / 1440 * 100vw);
    left: calc(1051 / 1440 * 100vw);

    width: calc(300 / 1440 * 100vw);
    height: calc(310 / 1440 * 100vw);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    box-shadow: var(--shadow);

    border-radius: var(--radius);
    border: 1px solid var(--black);

    background-color: var(--white);

    animation: 0.1s fadeIn ease-in;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }

}

.filter {
    font-size: var(--lg-font);
    font-family: var(--Inter);
    margin: var(--sm-font);
}

.horizontal-line:not(:last-child) {
    border-bottom: 1px solid var(--black);
    width: calc(300 / 1440 * 100vw); 
}

@media (max-width: 428px) {
    .filter_box {
        position: absolute;
        top: calc(112 / 428 * 100vw);
        left: calc(328 / 428 * 100vw);
    
        width: calc(74 / 428 * 100vw);
        height: calc(76 / 428 * 100vw);
    
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    
        box-shadow: var(--shadow);
    
        border-radius: calc(5 / 428 * 100vw);
        border: 1px solid var(--black);
    
        background-color: var(--white);
    
        animation: 0.1s fadeIn ease-in;
    }
    
    @keyframes fadeIn {
        from {
            opacity: 0;
        }
    
        to {
            opacity: 1;
        }
    
    }
    
    .filter {
        font-size: calc(12 / 428 * 100vw);
        font-family: var(--Inter);
        margin: calc(5 / 428 * 100vw);
    }
    
    .horizontal-line:not(:last-child) {
        border-bottom: 1px solid var(--black);
        width: 100%; 
    }
}
